body {
    width: 46%;
    background-color: #E0E0E0;
}
.tag {
    padding-top: 0.625em;
    text-align: left;
    display: table-cell;
    vertical-align: top;
    font-size: 100%;
}
.tag .tag0 {
    color: #0748cb;
    font-size: 0.875em;
}
.tag .tag1 {
    color: #e86e0b;
    font-size: 0.9375em;
}
.tag .tag2 {
    color: #d9b904;
    font-size: 1em;
}
.tag .tag3 {
    color: #574ece;
    font-size: 1.0625em;
}
.tag .tag4 {
    color: #47ac33;
    font-size: 1.125em;
}
.tag .tag5 {
    color: #3599cd;
    font-size: 1.1875em;
}
.tag .tag6 {
    color: #c3365a;
    font-size: 1.25em;
}
.tag .tag7 {
    color: #19838c;
    font-size: 1.375em;
}
.tag .tag8 {
    color: #a2a097;
    font-size: 1.4375em;
}
.tag .tag9 {
    color: #93a558;
    font-size: 1.5em;
}
.tag a {
    display: inline-block;
    margin: .125em 0.75em .125em 0;
    line-height: 1.2em;
    word-break: break-all;
    vertical-align: middle;
}
a:hover {
    text-decoration: underline;
}
a {
    text-decoration: none;
}